{% extends "base.html.twig" %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Machine Learning</h1>
            <p class="lead text-muted">
                This website allows you to upload your spreadsheets and run them through a machine learning algorithm.
                It will then build a web form so that you can start entering new information and get the predicted outputs.
            </p>
            <p>
                <a href="#" class="btn btn-lg btn-primary my-2">Get Started</a>
            </p>
        </div>
    </section>
{% endblock %}
