version: '3.1'
services:
    mysql:
        image: mysql:5.7
        restart: always
        environment:
            MYSQL_DATABASE: 'machine_learning'
            MYSQL_USER: 'machine_learning'
            MYSQL_PASSWORD: 'machine_learning_2019'
            MYSQL_ROOT_PASSWORD: 'P@55w0rd'
        volumes:
            - ./logs/mysql:/var/logs/mysql/
        ports:
            - "3306:3306"
    php:
        build: php-fpm
        ports:
            - '9002:9000'
        volumes:
            - ../:/var/www/machine-learning-site
            - ./logs/symfony:/var/www/symfony/var/logs
        links:
            - mysql
    nginx:
        build: nginx
        ports:
            - '8080:80'
        links:
            - php
        volumes:
            - ./logs/nginx/:/var/log/nginx